# Logs
logs
*.log
npm-debug.log*
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Dependencies
node_modules

# Tests
test-results
playwright-report

# Tauri
src-tauri/target

# OS
.DS_Store
Thumbs.db

# TODO
TODO.md

